html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts12/Montserrat-Regular.woff2") format("woff2"), url("../fonts12/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../fonts12/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts12/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("../fonts12/Montserrat-Bold.woff2") format("woff2"), url("../fonts12/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"), url("../fonts12/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts12/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-yellow1: #FF9900;
  --color-yellow2: #FFB84D;
  --color-brown: #E1670E;
  --color-salat: #97EE3F;
  --color-white: #FFFFFF;
  --color-grey1: #CACACA;
  --color-grey2: #00000080;
  --color-grey3: #666666;
  --color-grey4: #414141;
  --color-black: #000000;
}

body {
  max-width: 1920px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--color-white);
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

svg {
  vertical-align: middle;
}

.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  padding: 0 75px;
  margin: 0 auto;
}

.btn-reset {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: .3s ease-in-out;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* header */

.header {
  position: relative;
  padding: 14px 0;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  margin-bottom: 50px;
}

.container.header__container {
  padding: 0 73px;
  align-items: center;
}

.header__burger {
  width: 0;
  height: 0;
  display: none;
}

.header__logo {
  margin-right: auto;
}

.header__logo:focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--color-yellow1);
}


.header__nav {
  margin-right: 289px;
  align-items: center;
  justify-content: space-between;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  transition: color .3s ease-in-out;
}

.nav__link:focus-visible {
  outline: 0;
  outline: 2px solid var(--color-yellow1);
  outline-offset: 5px;
}

.nav__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0;
  height: 2px;
  background-color: var(--color-yellow1);
  transition: .3s ease-in-out;
}

.nav__link:hover:not(:focus-visible)::before {
  width: 100%;
}

.nav__link:active:not(:focus-visible) {
  color: var(--color-brown);
}

.nav__link:active:not(:focus-visible)::before {
  background-color: var(--color-brown);
}

.header__btn {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: flex-end;
  transition: stroke .3s ease-in-out, fill .3s ease-in-out;
}

.header__path,
.header__rect {
  transition: .3s ease-in-out;
}

.header__btn:focus-visible {
  outline: 2px solid var(--color-yellow1);
  outline-offset: 5px;
}

.header__btn:hover:not(:focus-visible) .header__search .header__path {
  stroke: var(--color-yellow1);
  transition: stroke .3s ease-in-out;
}

.header__btn:hover:not(:focus-visible) .header__search .header__rect {
  fill: var(--color-yellow1);
  transition: fill .3s ease-in-out;
}

.header__search-form {
  position: absolute;
  width: 0;
  height: 0;
  right: 118px;
  top: 38px;
  z-index: 5;
  justify-content: space-between;
  background: var(--color-white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  transition: 0.3s ease-in-out;
}

.header__search-form.activated {
  position: absolute;
  top: 20%;
  right: 0;
  width: 539px;
  height: 60px;
  padding-top: 18px;
  padding-right: 13px;
  padding-bottom: 16px;
  padding-left: 32px;
  z-index: 40;
  align-items: center;
}

.header__input {
  width: 100%;
  height: 118%;
  border: none;
  outline: none;
  margin-right: 15px;
  visibility: hidden;
}

.header__input.activated {
  visibility: visible;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-black);
}

.header__input:focus-visible {
  outline: 2px solid var(--color-yellow1);
  outline-offset: 2px;
}

.header__btn {
  margin-right: 22px;
}

.header__cancel {
  width: 0;
  height: 0;
  visibility: hidden;
}

.header__cancel.activated {
  width: 24px;
  height: 24px;
  cursor: pointer;
  visibility: visible;
  transition: 0s;
}

.header__circle {
  transition: 0.3s ease-in-out;
}

.header__cancel:focus-visible {
  outline: 0;
  outline: 2px solid var(--color-yellow1);
  outline-offset: 2px;
}

.header__cancel:hover:not(:focus-visible) .header__cross .header__circle {
  stroke: var(--color-yellow1);
  transition: stroke 0.3s ease-in-out;
}

.header__cancel:hover:not(:focus-visible) .header__cross .header__rect {
  fill: var(--color-yellow1);
  transition: fill 0.3s ease-in-out;
}

.header__cancel:active:not(:focus-visible) .header__cross .header__circle {
  stroke: var(--color-black);
  transition: stroke 0.3s ease-in-out;
}

.header__cancel:active:not(:focus-visible) .header__cross .header__rect {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}


/* hero */

.hero {
  min-width: 320px;
  margin-bottom: 50px;
  padding: 0 75px;
}

.hero__container {
  position: relative;
  max-width: 1770px;
  min-height: 620px;
  padding: 0;
  padding-top: 100px;
  border-radius: 32px;
  flex-direction: column;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.swiper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100%;
}

.swiper-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 27px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-white);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-inactive {
  background: rgba(208, 201, 201, 0.7);

}

.swiper-pagination-bullet:focus-visible {
  outline: 2px solid var(--color-yellow1);
  outline-offset: 2px;
}

.hero__content {
  position: relative;
  top: 0;
  width: 100%;
  padding-left: 80px;
  z-index: 2;
  pointer-events: none;

}

.hero__title {
  max-width: 837px;
  margin-bottom: 24px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
}

.hero__descr {
  max-width: 790px;
  min-height: 58px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
  margin-bottom: 90px;
}

.hero__btn {
  padding: 25px 39px;
  margin-bottom: 55px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  border-radius: 16px;
  color: var(--color-white);
  background-color: var(--color-yellow1);
  transition: background-color .3s ease-in-out;
  pointer-events: auto;
}

.hero__btn:focus-visible {
  outline: 0;
  background-color: var(--color-yellow2);
}

.hero__btn:hover:not(:focus-visible) {
  background-color: var(--color-yellow2);
}

.hero__btn:active:not(:focus-visible) {
  background-color: var(--color-brown)
}

/* about-us */

.about-us {
  max-width: 1770px;
  margin-bottom: 50px;
}

.about-us__container {
  flex-direction: column;
}

.about-us__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
  margin-bottom: 20px;
}

.about-us__article {
  max-width: 1236px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}

/* articles */

.articles {
  margin-bottom: 100px;
}

.articles__block_left {
  min-width: 868px;
  align-items: flex-end;
  border-radius: 32px;
  margin-right: 32px;
  flex: 1;
  background-image: url("../img12/worker.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.articles__item_left {
  min-width: 100%;
}

.articles__wrapper {
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  padding: 53px 50px;
  flex: 1;
}

.articles__text_left {
  max-width: 433px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.articles__btn {
  padding: 20px 38px;
  color: var(--color-white);
  border: 2px solid var(--color-yellow1);
  border-radius: 16px;
  transition: .3s ease-in-out;
}

.articles__btn:focus-visible {
  outline: 0;
  background: var(--color-yellow1);
}

.articles__btn:hover:not(:focus-visible) {
  background: var(--color-yellow1);
}

.articles__btn:active:not(:focus-visible) {
  border-color: var(--color-brown);
  background: var(--color-brown);
}

.articles__block_right {
  flex-direction: column;
  flex-grow: 1;
}

.articles__item_top {
  margin-bottom: 32px;
}

.articles__item_top,
.articles__item_bottom {
  max-width: 870px;
  flex-grow: 1;
  padding: 64px 116px 65px 300px;
  background: var(--color-white);
  border: 1px solid var(--color-grey1);
  border-radius: 32px;
  background-position: 61px 63px;
  background-repeat: no-repeat;
}

.articles__item_top {
  background-image: url("../img12/articles1.svg");
}

.articles__item_bottom {
  background-image: url("../img12/articles2.svg");
}

.articles__title {
  max-width: 452px;
  min-height: 29px;
  flex-shrink: 1;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-black);
  margin: 0;
  margin-bottom: 8px;
}

.articles__right {
  flex-direction: column;
}

.articles__text_right {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}

/* work-principles */

.work-principles {
  margin-bottom: 111px;
}

.work-principles__content {
  flex-direction: column;
}

.work-principles__title {
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
}

.work-principles__list_top {
  margin-bottom: 45px;
}

.work-principles__wrapper {
  justify-content: space-between;
}

.work-principles__btn_top {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  transition: color .3s ease-in-out;
}

.work-principles__btn_first {
  color: var(--color-yellow1);
}

.work-principles__btn_top:focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--color-yellow1);
}

.work-principles__btn_top:hover:not(:focus-visible) {
  color: var(--color-yellow1);
}

.work-principles__btn_top:active:not(:focus-visible) {
  color: var(--color-brown);
}

.work-principles__item_top:not(:last-child) {
  margin-right: 85px;
}

.work-principles__block_left {
  max-width: 758px;
  flex-direction: column;
  flex: 1;
}

.work-principles__subtitle {
  max-width: 758px;
  min-height: 32px;
  flex-shrink: 1;
  margin-bottom: 8px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 24px;
  color: var(--color-black);
}

.work-principles__text {
  max-width: 719px;
  margin-bottom: 17px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}

.work-principles__item_bottom:not(:last-child) {
  margin-right: 32px;
}

.work-principles__btn_bottom {
  padding: 19px 38px;
  border-radius: 16px;
  color: var(--color-white);
  background-color: var(--color-yellow1);
  transition: .3s ease-in-out;
}

.work-principles__btn_bottom:focus-visible {
  outline: 0;
  background-color: var(--color-yellow2)
}

.work-principles__btn_bottom:hover:not(:focus-visible) {
  background-color: var(--color-yellow2);
}

.work-principles__btn_bottom:active:not(:focus-visible) {
  background-color: var(--color-brown)
}

.work-principles__link {
  padding: 19px 38px;
  border: 1px solid var(--color-black);
  border-radius: 16px;
  transition: .3s ease-in-out;
}

.work-principles__link:focus-visible {
  outline: 0;
  border-color: var(--color-grey3);
  color: var(--color-white);
  background-color: var(--color-grey3);
}

.work-principles__link:hover:not(:focus-visible) {
  border-color: var(--color-grey3);
  color: var(--color-white);
  background-color: var(--color-grey3);
}

.work-principles__link:active:not(:focus-visible) {
  color: var(--color-white);
  background-color: var(--color-black);
}

.work-principles__block_right {
  max-width: 870px;
  flex: 1;
  border-radius: 32px;
  background-image: url("../img12/work1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-principles__block_right1 {
  background-image: url("../img12/work2.png");
}

.work-principles__block_right2 {
  background-image: url("../img12/work3.png");
}

.work-principles__block_right3 {
  background-image: url("../img12/work4.png");
}

.work-principles__wrapper {
  display: none;
}

.work-principles__wrapper_first {
  display: flex;
}

/* questions */

.questions {
  padding: 0 75px;
  margin-bottom: 100px;
}

.questions__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 34px;
  color: var(--color-black);
}

.questions__subtitle {
  max-width: 1730px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
  transition: color .3s ease-in-out;
}

.questions__item {
  padding-top: 30px;
  padding-bottom: 29px;
  border-top: 1px solid var(--color-grey1);
  position: relative;
  transition: border-color .3s ease-in-out;
}

.questions__item:not(:last-child) {
  border-bottom: 1px solid var(--color-white);
}

.questions__item:last-child {
  border-bottom: 1px solid var(--color-grey1);
}

.questions__item:focus-within {
  border-top: 1px solid var(--color-yellow1);
  border-bottom: 1px solid var(--color-yellow1);
  z-index: 1;
  transition: border-color .3s ease-in-out;
}

.questions__item:focus-within .questions__btn svg ellipse {
  fill: var(--color-yellow1);
}

.questions__item:focus-within .questions__btn svg path {
  fill: var(--color-white);
}

.questions__item:focus-within .questions__btn .questions__subtitle {
  color: var(--color-yellow1);
}

.questions__item:hover {
  border: none;
  border-top: 1px solid var(--color-yellow1);
  border-bottom: 1px solid var(--color-yellow1);
  z-index: 1;
  transition: border-color .3s ease-in-out, z-index .3s ease-in-out;
}

.questions__item:hover .questions__btn svg ellipse {
  fill: var(--color-yellow1);
  transition: fill .3s ease-in-out;
}

.questions__item:hover .questions__btn svg path {
  fill: var(--color-white);
  transition: fill .3s ease-in-out;
}

.questions__item:hover .questions__btn .questions__subtitle {
  color: var(--color-yellow1);
  transition: color .3s ease-in-out;
}

.questions__item:active {
  border-top: 1px solid var(--color-grey1);
  border-bottom: 1px solid var(--color-grey1);
  z-index: 1;
  transition: border-color .3s ease-in-out;
}

.questions__item:active .questions__btn svg ellipse {
  fill: var(--color-grey1);
  transition: fill .3s ease-in-out;
}

.questions__item:active .questions__btn svg path {
  fill: var(--color-black);
  transition: fill .3s ease-in-out;
}

.questions__item:active .questions__btn svg {
  transition: transform .3s ease-in-out;
}

.questions__item:active .questions__btn .questions__subtitle {
  color: var(--color-black);
  transition: color .3s ease-in-out;
}

.questions__item .questions__btn {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.questions__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.questions__btn:focus {
  outline: 0;
}

.questions__text {
  max-width: 1003px;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}

.questions__text1 {
  margin-bottom: 32px;
}

.questions__svg {
  flex-shrink: 0;
  transition: .3s ease-in-out;
}

.questions__svg ellipse {
  transition: .3s ease-in-out;
}

.questions__svg path {
  transition: .3s ease-in-out;
}

.ac {
  margin-top: 0;
  border-right: none;
  border-left: none;
  background-color: transparent;
}

.ac .ac-trigger {
  padding: 0;
}

.ac .ac-trigger::after {
  content: none;
}

.is-active .questions__svg {
  transform: rotate(45deg);
}


/* footer */

.footer {
  max-width: 1920px;
  padding: 50px 0;
  background-color: var(--color-black);
}

.footer__container {
  padding: 0 75px;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  max-width: 34%;
  flex-direction: column;
  margin-bottom: auto;
  flex: 1;
}

.footer__logo {
  width: 224px;
  height: 72px;
  margin-bottom: 20px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-grey1);
}

.footer__link_left {
  transition: color .3s ease-in-out;
}

.footer__link_left:focus-visible {
  border: none;
  outline-offset: 5px;
  outline: 2px solid var(--color-yellow1);
}

.footer__link_left:hover:not(:focus-visible) {
  color: var(--color-yellow1);
}

.footer__link_left:active:not(:focus-visible) {
  color: var(--color-brown);
}

.footer__item_ok {
  margin-right: 25px;
}

.footer__link_social {
  display: block;
  height: 100%;
  transition: fill .3s ease-in-out;
}

.footer__link_social:focus-visible {
  border: none;
  outline-offset: 5px;
  outline: 2px solid var(--color-yellow1);
}

.footer__link_social:hover:not(:focus-visible) .footer__svg path {
  fill: var(--color-yellow1);
  transition: fill .3s ease-in-out;
}

.footer__link_social:active:not(:focus-visible) .footer__svg path {
  fill: var(--color-brown);
  transition: fill .3s ease-in-out;
}

.footer__svg path {
  transition: .3s ease-in-out;
}

.footer__middle {
  flex-direction: column;
  flex: 1;
  margin-bottom: auto;
}

.footer__title {
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-grey1);
}

.footer__form {
  flex-direction: column;
}

.footer__input {
  padding-left: 24px;
  background: var(--color-grey4);
  color: var(--color-grey1);
  border-radius: 16px;
  border: none;
  transition: .3s ease-in-out;
}

.footer__input::placeholder {
  transition: .3s ease-in-out;
}

.footer__input:focus {
  outline: 0;
  background-color: var(--color-grey3);
  transition: background-color .3s ease-in-out;
}

.footer__input:focus::placeholder {
  color: var(--color-grey1);
  transition: color .3s ease-in-out;
}

.footer__input:hover {
  background-color: var(--color-grey3);
  transition: background-color .3s ease-in-out;
}

.footer__input:hover:hover::placeholder {
  color: var(--color-grey1);
  transition: color .3s ease-in-out;
}

.footer__input:active {
  background-color: var(--color-grey3);
  transition: background-color .3s ease-in-out;
}

.footer__input:active::placeholder {
  color: var(--color-white);
  transition: color .3s ease-in-out;
}

.footer__name,
.footer__email {
  width: 570px;
  height: 60px;
  margin-bottom: 25px;
}

.footer__textarea {
  width: 570px;
  height: 150px;
  margin-bottom: 31px;
  padding-top: 24px;
  padding-left: 24px;
  background: var(--color-grey4);
  color: var(--color-grey1);
  border-radius: 16px;
  border: none;
  resize: none;
  transition: .3s ease-in-out;
}

.footer__textarea::placeholder {
  transition: .3s ease-in-out;
}

.footer__textarea:focus {
  outline: 0;
  background-color: var(--color-grey3);
  transition: background-color .3s ease-in-out;
}

.footer__textarea:focus::placeholder {
  color: var(--color-grey1);
  transition: color .3s ease-in-out;
}

.footer__textarea:hover {
  background-color: var(--color-grey3);
  transition: background-color .3s ease-in-out;
}

.footer__textarea:hover:hover::placeholder {
  color: var(--color-grey1);
  transition: color .3s ease-in-out;
}

.footer__textarea:active {
  background-color: var(--color-grey3);
  transition: background-color .3s ease-in-out;
}

.footer__textarea:active::placeholder {
  color: var(--color-white);
  transition: color .3s ease-in-out;
}

.footer__consent {
  max-width: 570px;
  align-items: center;
  justify-content: space-between;
}

.footer__btn {
  padding: 22px 56px;
  background: var(--color-yellow1);
  border-radius: 16px;
  font-size: 16px;
  line-height: 15px;
  color: var(--color-white);
  transition: .3s ease-in-out;
}

.footer__btn:focus-visible {
  outline: 0;
  background-color: var(--color-yellow2)
}

.footer__btn:hover:not(:focus-visible) {
  background-color: var(--color-yellow2)
}

.footer__btn:active:not(:focus-visible) {
  background-color: var(--color-brown)
}

.option {
  display: block;
  margin-bottom: 0.5em;
}

.check {
  color: var(--color-white);
  padding-left: 1.2em;
}

.check:focus-visible {
  outline: none;
  outline: 2px solid var(--color-yellow1);
  outline-offset: 4px;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1000;
}

.check__box {
  position: absolute;
  margin-left: -1.2em;
  width: 1em;
  height: 1em;
}

.check__focus {
  fill: none;
}

.check__square {
  fill: var(--color-black);
  stroke: var(--color-white);
  stroke-width: 2px;
}

.check__mark {
  fill: none;
  stroke: var(--color-black);
  stroke-width: 3px;
}

.check__input:checked+* .check__mark {
  stroke: var(--color-salat);
}

.check__input:focus-visible+* .check__focus {
  fill: var(--color-yellow1);
}

.check__input:disabled+* .check__square {
  stroke: var(--color-grey3);
}

.check__input:checked:disabled+* .check__square {
  fill: var(--color-grey3);
}

.footer__right {
  max-width: 362px;
  margin-top: 88px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-grey1);
  margin-bottom: auto;
}

.footer__text {
  min-width: 100%;
}
